<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="team-list">
    <tbody>
      <% teams.forEach((team) => { %>
      <tr>
        <td><a class="ta-link" href="/teams/<%= team._id %>"><%= team.name %></a></td>
        <% if (team.creator.equals(user?.profile._id)) { %>
          <td>
            <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (user) { %>
  <div>
    <a class="add-link" href="/teams/new">
      <h3>Add Team</h3>
    </a>
  </div>
  <% } %>
</main>

<%- include('../partials/footer') %>