<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= title %>
  </h1>
  <h2>Comments</h2>
  <% if (team.comments.length) { %>
  <table>
    <tbody>
      <% team.comments.forEach(function(comment) { %>
        <tr>
          <td>
          <% if (comment.creator.equals(user?.profile._id)) { %>
              <form action="/teams/<%= team._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="def-del-btn" ><img src="/assets/icons/trash-icon.svg" height="25px"></button>
              </form>
            <% } %>
          </td>
          <td class="date-text">-<%= comment.createdAt.toLocaleDateString() %></td>
          <td class="comment-text">
            <textarea><%= comment.content %></textarea>
          </td>
          <td class="creator-text">-<%= comment.creator.name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
  <% if (user) { %>
  <form id="add-team-com-form" action="/teams/<%= team._id %>/comments" method="POST">
    <label for="content-textarea">Why are you a fan of the <%= team.name %></label>
    <br>
    <div class="add-comment-form">
      <textarea name="content" id="content-textarea"></textarea>
      <button type="submit">Add</button>
    </div>
  </form>
  <% } %>
</main>

<%- include('../partials/footer') %>