<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Sports Page <%= user ? user.profile.name : '' %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <h2>
    <% if (!user) { %>
      <p>Login to get started</p>
      <p>Feel free to browse through other user's profiles in the mean time</p>
      <% } else { %>
        Click 'CREATE PROFILE' to create your own profile
      <% } %>
  </h2>
</main>

<%- include('./partials/footer') %>
