<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="index">
  <h1>Welcome to Trash Talk</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar"/>
    </div>
  <% } %>
  <h2 id="h2-idx">
    <% if (!user) { %>
      <p>Login to get started</p>
      <p>Navigate to 'SPORTS' to check out some teams and athletes</p>
    <% } else { %>
      Go to 'ALL TEAMS' or 'ALL ATHLETES' to start
    <% } %>
  </h2>
</main>

<%- include('./partials/footer') %>
