<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/pages/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/pages/<%= page._id %>?_method=PUT" 
    method="POST"
  >
    <label for="title-input">Title:</label>
      <input 
        type="text" 
        name="title" 
        value="<%= page.title %>" 
        id="title-input"
      >
    <button class="edit-title-btn" type="submit">Edit Title</button>
  </form>
</main>

<%- include("../partials/footer") %>