<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/pages/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Select a sport to get started</h1>
  <div id="sports-list">
    <% pages.forEach((page) => { %>
    <div id="sports-icons">
      <% if (user?.profile.equals('644675cef50bfb3c75daad4b')) { %>
      <form action="/pages/<%= page._id %>?_method=DELETE" method="POST">
        <button id="sports-del-btn" type="submit"><img src="/assets/icons/trash-white-icon.svg" height="25" width="25"></button>
      </form>
      <% } %>
      <a href="/pages/<%= page._id %>">
        <img src="/assets/<%= page.title.toLowerCase() %>/<%= page.title.toLowerCase() %>-icon.png" height="100" width="100">
      </a>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
