<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/pages/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Page List</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Creator</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% pages.forEach((page) => { %>
      <tr>
        <td><%= page.title %></td>
        <td><a href="/pages/<%= page._id %>">Check out the Page</a></td>
        <td>
          <form action="/pages/<%= page._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
