<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/pages/show.css" />
<%- include('../partials/nav') %>

<main id="<%= page.title.toLowerCase() %>">
  <div class="center">
    <h1 class="<%= page.title.toLowerCase() %>-text"><%= title %></h1>
    <section class="fav-text">
      <div>
        <% if (user?.profile.equals('644675cef50bfb3c75daad4b')) { %>
          <a href="/pages/<%= page._id %>/edit">
            <button class="change-name-btn">Change Name</button>
          </a>
        <% } %>
      </div>
      <div id="fav-teams-div">
        <h3 class="<%= page.title.toLowerCase() %>-text">Favourite Teams:</h3>
        <table class="<%= page.title.toLowerCase() %>-text">
          <tbody>
            <% page.favTeams.forEach(team => { %>
              <tr>
                <td>
                  <% if (team.creator.equals(user?.profile._id)) { %>
                    <form action="/pages/<%= page._id %>/teams/<%= team._id %>?_method=DELETE" method="POST">
                      <button id="<%= page.title.toLowerCase() %>-btn"><img src="/assets/icons/trash-white-icon.svg" height="25px"></button>
                    </form>
                    <% } %>
                  </td>
                <td><a id="<%= page.title.toLowerCase() %>-link" href="/teams/<%= team._id %>"><%= team.name %></a></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div id="fav-athletes-div">
        <h3 class="<%= page.title.toLowerCase() %>-text">Favourite Athletes:</h3>
        <table class="<%= page.title.toLowerCase() %>-text">
          <tbody>
            <% page.favAthletes.forEach(athlete => { %>
              <tr>
                <td>
                  <% if (athlete.creator.equals(user?.profile._id)) { %>
                    <form action="/pages/<%= page._id %>/athletes/<%= athlete._id %>?_method=DELETE" method="POST">
                      <button id="<%= page.title.toLowerCase() %>-btn"><img src="/assets/icons/trash-white-icon.svg" height="25px"></button>
                    </form>
                  <% } %>
                </td>
                <td><a id="<%= page.title.toLowerCase() %>-link" href="/athletes/<%= athlete._id %>"><%= athlete.name %></a></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>
    <% if (user) { %>
      <form id="add-teams-to-fav" action="/pages/<%= page._id %>/teams" method="POST">
        <select name="teamId">
          <option value="select" disabled selected>select a <%= title.toLowerCase() %> team</option>
          <% teams.forEach(team => { %>
            <option value="<%= team._id %>"><%= team.name %></option>
          <% }) %>
        </select>
        <button id="<%= page.title.toLowerCase() %>-btn" type="submit">ADD</button>
      </form>
      <form id="add-athletes-to-fav" action="/pages/<%= page._id %>/athletes" method="POST">
        <select name="athleteId">
          <option value="select" disabled selected>select a <%= title.toLowerCase() %> athlete</option>
          <% athletes.forEach(athlete => { %>
            <option value="<%= athlete._id %>"><%= athlete.name %></option>
          <% }) %>
        </select>
        <button id="<%= page.title.toLowerCase() %>-btn" type="submit">ADD</button>
      </form>
    <% } %>
    <% if (user) { %>
      <h2 class="<%= page.title.toLowerCase() %>-text">Comments:</h2>
      <% if (page.comments.length) { %>
        <table>
          <tbody class="table-body">
            <% page.comments.forEach(function(comment) { %>
              <tr class="<%= page.title.toLowerCase() %>-text comment-row">
                <% if (comment.creator.equals(user?.profile._id)) { %>
                  <td>
                    <form action="/pages/<%= page._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button id="<%= page.title.toLowerCase() %>-btn" ><img src="/assets/icons/trash-white-icon.svg" height="25px"></button>
                    </form>
                  </td>
                <% } %>
                <td class="date-text"><%= comment.createdAt.toLocaleDateString() %></td>
                <td class="comment-text">
                  <textarea><%= comment.content %></textarea>
                </td>
                <td class="creator-text">-<%= comment.creator.name %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <h3 class="<%= page.title.toLowerCase() %>-text">Leave a comment!</h3>
      <% } %>
      <form id="add-comment-form" action="/pages/<%= page._id %>/comments" method="POST">
        <div class="add-comment-form">
          <textarea name="content" id="content-textarea"></textarea>
          <button class="comment-btn" type="submit">...</button>
        </div>
      </form>
    <% } %>
  </div>
</main>


<%- include('../partials/footer') %>