<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/pages/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <% if (page.creator.equals(user?.profile._id)) { %>
        <a href="/pages/<%= page._id %>/edit">
          <button>Change Name</button>
        </a>
      <% } %>
    </div>
    <div>
      <table>
        <thead>
          <tc>
            <th>Favourite Teams and Athletes:</th>
            <th></th>
          </tc>
          <!-- <tc>
            <th>Favourite Athletes:</th>
            <th></th>
          </tc> -->
          <tc>
            <th>Reason:</th>
          </tc>
        </thead>
        <tbody>
          <% page.favTeams.forEach(favTeam => { %>
            <tc>
              <tr>
                <td><%= favTeam.name %></td>
                <td><%= favTeam.reason %></td>
                <% if (page.creator.equals(user?.profile._id)) { %>
                <td>
                  <form action="/pages/<%= page._id %>/teams/<%= favTeam._id %>?_method=DELETE" method="POST">
                    <button>X</button>
                  </form>
                </td>
                <% } %>
              </tr>
            </tc>
          <% }) %>
          <% page.favAthletes.forEach(favAthlete => { %>
            <tc>
              <tr>
                <td><%= favAthlete.name %></td>
                <td><%= favAthlete.reason %></td>
                <% if (page.creator.equals(user?.profile._id)) { %>
                <td>
                  <form action="/pages/<%= page._id %>/athletes/<%= favAthlete._id %>?_method=DELETE" method="POST">
                    <button>X</button>
                  </form>
                </td>
                <% } %>
              </tr>
            </tc>  
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
  <% if (page.creator.equals(user?.profile._id)) { %>
    <form
      id="add-teams-to-fav" 
      action="/pages/<%= page._id %>/teams"
      method="POST"
    >
      <select name="teamId">
        <% teams.forEach(team => { %>
          <option value="<%= team._id %>"><%= team.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Favourite Teams</button>
    </form>
    
    <form 
      id="add-athletes-to-fav" 
      action="/pages/<%= page._id %>/athletes" 
      method="POST"
    >
      <select name="athleteId">
        <% athletes.forEach(athlete => { %>
          <option value="<%= athlete._id %>"><%= athlete.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Favourite Athletes</button>
    </form>
  <% } %>
  
  <% if (user) { %>
  <h2>Comments</h2>
  <form 
    id="add-comment-form"
    action="/pages/<%= page._id %>/comments"
    method="POST"
  >
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>
    <% if (page.comments.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Comments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% page.comments.forEach(function(comment) { %>
            <tr>
              <td><%= comment.createdAt.toLocaleDateString() %></td>
              <td><%= comment.content %></td>
              <td>-<%= comment.creator.name %></td>
              <% if (comment.creator.equals(user?.profile._id)) { %>
              <td>
                <form action="/pages/<%= page._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button>X</button>
                </form>
              </td>
              <% } %>
            </tr>
          <% }) %>
          <tr>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <h3>Leave a comment!</h3>
    <% } %>
  <% } %>
</main>


<%- include('../partials/footer') %>