<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/athletes/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="athlete-list">
    <tbody>
      <% athletes.forEach(athlete => { %>
      <tr>
        <td><a class="ta-link" href="/athletes/<%= athlete._id %>"><%= athlete.name %></a></td>
        <% if (athlete.creator.equals(user?.profile._id)) { %>
          <td>
            <form action="/athletes/<%= athlete._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if(user) { %>
  <div>
    <a class="add-link" href="/athletes/new">
      <h3>Add Athlete</h3>
    </a>
  </div>
  <% } %>
</main>

<%- include('../partials/footer') %>