<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/athletes/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="athlete-list">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% athletes.forEach((athlete) => { %>
      <tr>
        <td><%= athlete.name %></td>
        <td><a class="athlete-btn" href="/athletes/<%= athlete._id %>">Look at this athlete</a></td>
        <td>
          <form action="/athletes/<%= athlete._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div id="add-athlete-div">
    <a id="add-athlete" href="/athletes/new">
      <h3>Add Athlete</h3>
    </a>

  </div>
</main>

<%- include('../partials/footer') %>