<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/athletes/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <p>Please first ensure that the Athlete is not in the dropdown
    <select class="add-athlete-dropdown">
      <% athletes.forEach(function(athlete) { %>
        <option><%= athlete.name %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-athlete-form" action="/athletes" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <!-- <label for="reason-input">Tell us why they are a favourite:</label>
    <textarea name="reason" id="reason-input"></textarea> -->
    <button type="submit">Add Athlete</button>
  </form>
</main>

<%- include('../partials/footer') %>